body {
    font-family: Roboto;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    align-self: center;
    color: white;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex: 1 1 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.content {
    
    flex: 0 1 auto;
    color: white;
    align-self: center;
    padding: 20px;
    
}

.main {
    font-size: 25px;
    font-family: fantasy;
    
}
.sec {
    flex: 0 0 auto;
    max-width: 500px;
}

.infop {
    max-width: 100px;
    flex: 0 0 auto;
}

.imglogo {
    height: 400px;
    width: 400px;
    flex: 0 1 auto;
}

button {
    background-color: #3883F6;
    border-radius: 5px;
    border: 5px;
    padding: 5px;
    color: white;
}

.mid {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.sweets {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.info {
    height: 100px;
    width: 100px;
    flex: 1 1 0;
    border-radius: 8px;
}

.sweets-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bold;
}

.quote {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.author {
    align-self: flex-end;
    font-weight: bolder;
}

.call {
    display: flex;
    padding: 10px;
    background-color: #3882F6;
    justify-content: center;
    gap: 40px;
}

.below-sign {
    align-self: center;
    border: white;
    border-width: 5px;
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}
